# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/
.idea
.DS_Store

# Ignore vim garbage
*.swp

# Ignore ssh private keys that may be in the directory
id_*
pkg/
k8s/helm/charts/*.tgz
.version
werker_files.tar
ocelot*.tgz
*.pb.go
