[Unit]
Description=OrbitalCI Admin service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/orbital

User=vagrant
WorkingDirectory=/home/vagrant
ExecStart=/home/vagrant/go/bin/admin -hookhandler-url-base 192.168.12.34
Restart=on-failure

[Install]
WantedBy=multi-user.target